.corpo{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.header-title{
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.image{
    height: 50%;
    width: 100%;
}

.banner{
    padding: 13%;
}

.text-title{
    font-family: var(--font-texts);
    font-weight: 700;
    font-size: 48px;
    color: var(--color-default);
}

.texts{
    color: var(--color-text);
    font-family: var(--font-texts);
    font-weight: 400;
    font-size: 18px;
    margin: 6% 0 6% 0;
    

}

.button-back{
    background: #333333;
    background-color:  var(--color-default);
    color: white;
    border: none;
    font-family: var(--font-texts);
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    letter-spacing: -0.035em;
    margin-bottom: 20%;
    margin-top: 20%;
    padding: 22px;
    text-transform: uppercase;  
    width: 216px;
    
}

.footer{
    color: var(--color-footer);
    font-family:'Montserrat';
    font-weight: 500;
    margin: 25% 0 2% 0;
    align-self: center;

}

/*Start of responsive for desktop and tablets*/

@media screen and (min-width:610px ){
    .corpo{
        margin: 2% 10% 0 7%;
    }

    .header-title{
        white-space: nowrap;
       align-items: flex-start;
       margin-bottom: 5rem;
    }

    .container{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    .banner{
   
        padding: 3rem 0 0 0 ;
        margin-right: 100px;
        width: 100%;
    }

    .image{
        height: 65%;
        width: 100%;
    }

    .texts{
        align-self:flex-start;
    }

}